
body{
	margin:0px;
	padding:0px;
	background: url("../images/bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	font-family: "Microsoft YaHei" ! important;
}
div.main{
	width:100%;
}

/* 登录框*/
div.login_bg{
	/*border-left: 1px solid #336666;*/
	/*border: 1px solid #336666;*/
/*	background: rgba(255,255,255,0.5);*/
/*	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
*/	border-radius: 10px;
}
/*div.login-div{
	background: rgba(255,255,255,0.5);
}*/


/*顶部栏*/
div.top-row{
	background-color: #336666;
	box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.3);
}

/*错误信息*/
div.wrong-div{
	display:none;
}

/*页脚*/
div.footer{
	background-color: #336666;
} 

.oa-link {
        width: 100%;
        height: 50px;
        background-color: rgba(46, 47, 46, 0.63);
        margin-bottom: 60px;
        text-align: center;
    }
.oa-link > button {
        padding-right: 50px;
        height:100%;
        border: 0px;
    }
.oa-link > button:focus {
        outline: none;
    }